extends layout

block content
  h1= title

  div
    p(style="color: green;") Server is running!

    if (url)
      p <b>url</b>: <code>#{url}</code>
    else
      p(style="color: red;") <b>url</b>: NOT SET

  div
    h2 spotify

    if (spotify.clientId)
      p <b>client id</b>: <code>#{spotify.clientId}</code>
    else
      p(style="color: red;") <b>client id</b>: NOT SET

    if (spotify.clientSecret)
      p <b>client secret</b>: <code>#{spotify.secret()}</code>
    else
      p(style="color: red;") <b>client id</b>: NOT SET

    if (url)
      p <b>redirect uri</b>: <code>#{spotify.redirectUri}</code>
    else
      p(style="color: red;") <b>redirect uri</b>: <code>#{spotify.redirectUri}</code>
    
    p <b>scope</b>: <code>#{spotify.scope}</code>

  div
    h2 discord bot

    if (discord.token)
      p <b>bot token</b>: <code>#{discord.token}</code>
    else
      p(style="color: red;") <b>bot token</b>: NOT SET
